# Environment
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.venv/
venv/

# Django
*.log
local_settings.py
db.sqlite3

# Node
node_modules/
frontend/dist/

# Docker
*.override.yml

# IDE
.vscode/
.idea/
*.swp
*.swo
